<h1>Products</h1>
<div class="product">
    {{#each products}}
    <h3> {{name}}</h3>
    <img src={{imgURL}} />
    <p>{{description}}</p>
    <p>{{price}}€</p>
    <a href="http://localhost:8000/add/{{_id}}"><button>Klick!</button></a>
    {{/each}}
</div>